<h1>Welcome to Workout Tracker!</h1>


<table>
    <thead>
        <tr>
            <td>Id</td><br>
            <td>Workout Focus</td><br>
            <td>Primary Lifts</td><br>
            <td>Sets</td><br>
            <td>Repetitions</td><br>
            <td>Implements Used</td><br>
            <td>Accessory Work</td><br>
            <td>Length of Session</td><br>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let workout of workouts">
            <td>{{workout.id}} </td><br>
            <td>{{workout.workouts}} </td><br>
            <td>{{workout.primaryLifts}} </td><br>
            <td>{{workout.sets}} </td><br>
            <td>{{workout.repetitions}} </td><br>
            <td>{{workout.implementsUsed}} </td><br>
            <td>{{workout.accessoryWork}} </td><br>
            <td>{{workout.lengthOfSession}} </td><br>
            <button (click)="deleteWorkout(workout.id)">Delete</button>
            <button (click)="setEditWorkout(workout)">Edit</button>

        </tr>
    </tbody>
</table>
<form>
    <!-- Workout Id: <input type="number" name="id" [(ngModel)]="newWorkout.id">
    <br> -->
    Workout Focus: <input type="text" name="workouts" [(ngModel)]="newWorkout.workouts"> <br> Primary Lift: <input type="text" name="primaryLifts" [(ngModel)]="newWorkout.primaryLifts"> <br> Sets: <input type="number" name="sets" [(ngModel)]="newWorkout.sets"><br>    Repitions: <input type="number" name="repetitions" [(ngModel)]="newWorkout.repetitions"><br> Implements Used: <input type="text" name="implementsUsed" [(ngModel)]="newWorkout.implementsUsed"><br> Accessory Work: <input type="text" name="accessoryWork"
        [(ngModel)]="newWorkout.accessoryWork"><br> Length of Session: <input type="number" name="lengthOfSession" [(ngModel)]="newWorkout.lengthOfSession"><br>

    <button (click)="createWorkout(newWorkout)">Submit</button>
</form>
<form *ngIf="editWorkout">
    <label for="name">Workout Name: </label>
    <input type="text" name="name" [(ngModel)]="editWorkout.workouts">

    <label for="primaryLifts">Primary Lift: </label>
    <input type="text" name="primaryLifts" [(ngModel)]="editWorkout.primaryLifts">

    <label for="sets">Sets: </label>
    <input type="number" name="sets" [(ngModel)]="editWorkout.sets">

    <label for="repetitions">Repetitions: </label>
    <input type="number" name="repetitions" [(ngModel)]="editWorkout.repetitions">

    <label for="implementsUsed">Implements Used: </label>
    <input type="text" name="implementsUsed" [(ngModel)]="editWorkout.implementsUsed">

    <label for="accessoryWork">Accessory Work: </label>
    <input type="text" name="accessoryWork" [(ngModel)]="editWorkout.accessoryWork">

    <label for="lengthOfSession">Length of Session: </label>
    <input type="number" name="lengthOfSession " [(ngModel)]="editWorkout.lengthOfSession ">

    <button (click)="updateWorkout(editWorkout) ">Submit</button>
</form>
<h4>Total Number of Workouts Logged: {{workouts.length}}</h4>
